<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive, collapsed: collapsed}">
    <div class="list-group">
        <a routerLink="/dashboard"class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;
            <span>{{ 'Dashboard'}}</span>
        </a>

        <a routerLink="/profile"  class="list-group-item">
            <i class="fa fa-fw fa-user-o"></i>&nbsp;
            <span>{{ 'User'}}</span>
        </a>
        <a routerLink="/categories" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-th-large"></i>&nbsp;
            <span>{{ 'Categories & Heading'}}</span>
        </a>
        <a routerLink="/expenses" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-list"></i>&nbsp;
            <span>{{ 'Expenses'}}</span>
        </a>
    </div>
    <div class="toggle-button" [ngClass]="{collapsed: collapsed}" (click)="toggleCollapsed()">
        <i class="fa fa-fw fa-angle-double-left"></i>&nbsp;
        <span>{{ 'Collapse Sidebar'}}</span>
    </div>
</nav>
