<div [@routerTransition]>
    <h2 class="text-muted">Dashboard
    </h2>
    <!-- <div class="row">
        <div class="col-md-12">
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let slider of sliders">
                    <img class="img-fluid mx-auto d-block" [src]="slider.imagePath" alt="Random first slide" width="100%">
                    <div class="carousel-caption">
                        <h3>{{slider.label}}</h3>
                        <p>{{slider.text}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div> -->
    <hr>
    <div class="row">
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'primary'" [icon]="'fa-tasks'"  [label]="'Total Expenses'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'warning'" [icon]="'fa-calendar-times-o'" [label]="'Budget Allocated'"></app-stat>
        </div>
        <div class="col-xl-4 col-lg-6">
            <app-stat [bgClass]="'success'" [icon]="'fa-bill-money'"  [label]="'Budget Remaining'"></app-stat>
        </div>
    </div>
    <hr />

</div>
