<nav class="navbar navbar-expand-lg fixed-top">
    <a class="navbar-brand" href="#">Daily Expense</a>
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="{{ 'Search' | translate }}">
        </form> -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> Super User
                    <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                    <a class="dropdown-item" data-toggle="modal" data-target="#changePasswordModal">
                        <i class="fa fa-fw fa-power-off"></i> Change Password
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form" #changePasswordForm="ngForm">
                    <div class="form-content">
                        <div class="form-group">
                            <label>Old Password</label>
                            <input type="password" ngModel="oldPassword" class="form-control input-underline input-lg"
                                name="oldPassword" placeholder="Old" required>
                        </div>
                        <div class="form-group">
                            <label>New Password</label>
                            <input type="password" ngModel="newPassword" class="form-control input-underline input-lg"
                                name="newPassword" placeholder="New" required>
                        </div>
                        <div class="form-group">
                            <label>Confirm Password</label>
                            <input type="password" ngModel="confirmPassword" class="form-control input-underline input-lg"
                                name="confirmPassword" placeholder="Con" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" [routerLink]="['/dashboard']" (click)="changePassword(changePasswordForm.value)"
                 [disabled]="changePasswordForm.invalid" >Change Password</button>
            </div>
        </div>
    </div>
</div>
