<div class="row">

    <div class="col-md-4 col-lg-4">
        <div class="card profile">
            <img src="../../../assets/images/nobody_m.original.jpg" alt="Profile Image" style="width:100%">
            <h3>{{userList.firstName}} {{userList.lastName}}</h3>
            <p class="title">{{userList.address}}</p>
            <p>{{userList.email}}</p>

        </div>
    </div>
    <div class="col-md-8 col-lg-8 card">
        <form  #myForm="ngForm" (ngSubmit)="updateUser(users)"  name="users" novalidate>

                <h2>User Edit</h2>
                <hr>
                <div class="row">
                <div class="col-md-5 form-group">
                    <h6>Name</h6>
                    <input type="hidden" name="users.id">
                    <input type="text" [(ngModel)]="users.firstName" class="form-control" name="firstName" placeholder="First Name" #fNameCtrl="ngModel" required>
                    <span class="error" *ngIf="fNameCtrl.invalid && fNameCtrl.touched">First Name required</span>
                </div>
                <div class="col-md-5 form-group">
                    <h6>Last Name</h6>
                    <input type="text" [(ngModel)]="users.lastName" class="form-control" name="lastName" placeholder="Last Name" #lNameCtrl="ngModel" required>
                    <span class="error" *ngIf="lNameCtrl.invalid && lNameCtrl.touched">Last Name required</span>
                </div>
                </div>
                <div class="row">
                <div class="col-md-5 form-group">
                    <h6>Email</h6>
                    <input type="text" [(ngModel)]="users.email" class="form-control" name="email" placeholder="Email" #Email="ngModel" required email>
                    <span class="error" *ngIf="Email.invalid && Email.touched">Address required</span>
                </div>
                <div class="col-md-5 form-group">
                    <h6>Address</h6>
                    <input type="text" [(ngModel)]="users.address" class="form-control" name="address" placeholder="Address" #Address required>
                    <span class="error" *ngIf="Address.invalid && Address.touched">Address required</span>
                </div>
                </div>
                <div class="row">
                <div class="col-md-5 form-group">
                    <h6>Salary</h6>
                    <input type="text" [(ngModel)]="users.salary" class="form-control" name="salary" placeholder="Salary">
                </div>
                </div>
                <br>
                <div class="row ">
                <div class="col-md-8 form-group">
                    <button type="submit" class="btn btn-success btn-block" [disabled]="!myForm.form.valid">Update Profile</button>
                </div>
                </div>

        </form>
    </div>
</div>
