i
{margin-left: 10px;}

@media (min-width:720px)
{
    .btnSubmit{
        margin-top: 65px;

    }
}
.btnSubmit
{ margin-top: 20px;
}

table{
    margin-top: 40px;
}
h3{
    color: #659dbd;
}
input{
    margin-top: 10px;
}
.container
{margin-top: 40px;
    }
  .error
  {
      color: red;
  }
