<div class="container">
    <form  #myForm="ngForm" (ngSubmit)="onCSubmit(categories)"  name="categories" novalidate>
    <div class="row form-group">
        <div class="col-md-6 col-lg-6">
            <h3>Categories</h3>
            <hr>
            <h5>Category Name</h5>
            <input type="text" [(ngModel)]="categories.name" #CNameCtrl=ngModel name="name" class="form-control" required>
            <span class="error" *ngIf="CNameCtrl.invalid && CNameCtrl.touched">Category Name is required</span>
        </div>
        </div>
        <div class="row form-group">
        <div class="col-md-6 col-lg-6 btnSubmit">
            <button class="btn btn-success btn-block" [disabled]="!myForm.form.valid"> Submit </button>
        </div>

        </div>
        <div class="row form-group">
        <div class="col-md-6 col-lg-6">
            <div class="table-responsive">
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of categoryList;let i = index">
                            <td>{{i}}</td>
                            <td>{{item.name}}</td>
                            <td><i class="fa fa-edit"(click)="onCategoryEdit(item)" > </i>
                                <i class="fa fa-trash" class="fa fa-trash" [swal]="{title:'',text:'Are you sure?',showCancelButton: 'true'}" (confirm)="onDeleteCategory(item.id)" ></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>
</div>
<hr>

<div class="container">
    <form #Form="ngForm" (ngSubmit)="onHSubmit(headings)"  name="headings" novalidate>
        <div class="row form-group">
            <div class="col-md-6 col-lg-6">
                <h3>Headings</h3>
                <hr>
                <h5>Heading Name</h5>
                <input type="text" [(ngModel)]="headings.name" name="name" #HNameCtrl=ngModel class="form-control" required>
                <span class="error" *ngIf="HNameCtrl.invalid && HNameCtrl.touched">Heading Name is required </span>
            </div>
            </div>
            <div class="row form-group"><div class="col-md-6 col-lg-6">
            <h5>Category</h5>
            <select  class="form-control" [(ngModel)]="categories" (change)=selectCategory($event)  name="categoryList">
                <option [ngValue]="items" *ngFor="let items of categoryList" >{{items.name}}</option></select>
            </div></div>
            <div class="row form-group">
            <div  class="col-md-6 col-lg-6 btnSubmit">
                <button class="btn btn-success btn-block"  [disabled]="!Form.form.valid">Submit</button>
            </div>

            </div>
            <div class="row form-group">
            <div class="col-md-6 col-lg-6">
                <div class="table-responsive">
                    <table class="card-body table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of headingList; let i = index">
                                <td>{{i}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.category.name}}</td>
                                <td><i class="fa fa-edit" (click)="onHeadingEdit(item)"> </i>
                                    <i class="fa fa-trash" class="fa fa-trash" [swal]="{title:'',text:'Are you sure?',showCancelButton: 'true'}" (confirm)="onDeleteHeading(item.id)" ></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    </div>
