/* You can add global styles to this file, and also import other style files */
@import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

@media print {
    .breadcrumb {
        display: none !important;
    }
}

.card {
    .card-body {
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
}